<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-133</integer>
		<key>V</key>
		<integer>-177</integer>
		<key>Y</key>
		<integer>-177</integer>
		<key>v</key>
		<integer>-130</integer>
		<key>y</key>
		<integer>-88</integer>
	</dict>
	<key>Delta</key>
	<dict>
		<key>T</key>
		<integer>-133</integer>
		<key>V</key>
		<integer>-177</integer>
		<key>Y</key>
		<integer>-177</integer>
		<key>v</key>
		<integer>-130</integer>
		<key>y</key>
		<integer>-88</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-86</integer>
		<key>comma</key>
		<integer>-259</integer>
		<key>e</key>
		<integer>-86</integer>
		<key>o</key>
		<integer>-86</integer>
		<key>period</key>
		<integer>-259</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-177</integer>
		<key>V</key>
		<integer>-177</integer>
		<key>Y</key>
		<integer>-177</integer>
		<key>quoteright</key>
		<integer>-432</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-88</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>comma</key>
		<integer>-173</integer>
		<key>e</key>
		<integer>-88</integer>
		<key>o</key>
		<integer>-88</integer>
		<key>period</key>
		<integer>-173</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-130</integer>
		<key>e</key>
		<integer>-130</integer>
		<key>o</key>
		<integer>-130</integer>
		<key>r</key>
		<integer>-65</integer>
		<key>u</key>
		<integer>-65</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>e</key>
		<integer>-86</integer>
		<key>o</key>
		<integer>-86</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-177</integer>
		<key>a</key>
		<integer>-177</integer>
		<key>d</key>
		<integer>-86</integer>
		<key>e</key>
		<integer>-130</integer>
		<key>o</key>
		<integer>-130</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-130</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>y</key>
		<integer>-43</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>quoteright</key>
		<integer>-130</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-130</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>S</key>
		<integer>-86</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-130</integer>
		<key>s</key>
		<integer>-173</integer>
		<key>t</key>
		<integer>-86</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>y</key>
		<integer>-65</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>s</key>
		<integer>-43</integer>
	</dict>
</dict>
</plist>
