<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontlab.v2.tth</key>
	<dict>
		<key>stems</key>
		<dict>
			<key>X: 1151</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>10</key>
					<integer>6</integer>
					<key>3</key>
					<integer>2</integer>
					<key>4</key>
					<integer>3</integer>
					<key>6</key>
					<integer>4</integer>
					<key>8</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>1151</integer>
			</dict>
			<key>X: 1283</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>3</key>
					<integer>2</integer>
					<key>4</key>
					<integer>3</integer>
					<key>6</key>
					<integer>4</integer>
					<key>8</key>
					<integer>5</integer>
					<key>9</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>1283</integer>
			</dict>
			<key>X: 177</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>15</key>
					<integer>2</integer>
					<key>28</key>
					<integer>3</integer>
					<key>40</key>
					<integer>4</integer>
					<key>52</key>
					<integer>5</integer>
					<key>64</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>177</integer>
			</dict>
			<key>X: 333</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>14</key>
					<integer>3</integer>
					<key>23</key>
					<integer>4</integer>
					<key>29</key>
					<integer>5</integer>
					<key>34</key>
					<integer>6</integer>
					<key>9</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>333</integer>
			</dict>
			<key>X: 442</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>14</key>
					<integer>3</integer>
					<key>17</key>
					<integer>4</integer>
					<key>21</key>
					<integer>5</integer>
					<key>26</key>
					<integer>6</integer>
					<key>9</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>442</integer>
			</dict>
			<key>Y: 186</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>15</key>
					<integer>2</integer>
					<key>28</key>
					<integer>3</integer>
					<key>40</key>
					<integer>4</integer>
					<key>52</key>
					<integer>5</integer>
					<key>61</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>186</integer>
			</dict>
			<key>Y: 239</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>15</key>
					<integer>2</integer>
					<key>20</key>
					<integer>3</integer>
					<key>29</key>
					<integer>4</integer>
					<key>37</key>
					<integer>5</integer>
					<key>48</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>239</integer>
			</dict>
			<key>Y: 265</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>15</key>
					<integer>2</integer>
					<key>20</key>
					<integer>3</integer>
					<key>29</key>
					<integer>4</integer>
					<key>37</key>
					<integer>5</integer>
					<key>43</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>265</integer>
			</dict>
			<key>Y: 309</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>20</key>
					<integer>3</integer>
					<key>23</key>
					<integer>4</integer>
					<key>29</key>
					<integer>5</integer>
					<key>37</key>
					<integer>6</integer>
					<key>9</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>309</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/Ydieresis/Ldot/Kcommaaccent/Omacron/wdieresis/dcaron/lcaron/Lcaron/tcaron</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>g</string>
				<string>h</string>
				<string>k</string>
				<string>n</string>
				<string>o</string>
				<string>q</string>
				<string>p</string>
				<string>r</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>y</string>
				<string>f</string>
				<string>i</string>
				<string>j</string>
				<string>l</string>
				<string>m</string>
				<string>s</string>
				<string>w</string>
				<string>x</string>
				<string>z</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>K</string>
				<string>L</string>
				<string>J</string>
				<string>M</string>
				<string>O</string>
				<string>R</string>
				<string>S</string>
				<string>Q</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>N</string>
				<string>P</string>
				<string>T</string>
				<string>Z</string>
				<string>five</string>
				<string>six</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>I</string>
				<string>seven</string>
				<string>question</string>
				<string>exclam</string>
				<string>space</string>
				<string>one</string>
				<string>quotedblright</string>
				<string>comma</string>
				<string>period</string>
				<string>semicolon</string>
				<string>colon</string>
				<string>quotedbl</string>
				<string>quotesingle</string>
				<string>numbersign</string>
				<string>ampersand</string>
				<string>copyright</string>
				<string>registered</string>
				<string>germandbls</string>
				<string>sterling</string>
				<string>Euro</string>
				<string>yen</string>
				<string>paragraph</string>
				<string>kgreenlandic</string>
				<string>thorn</string>
				<string>Thorn</string>
				<string>asterisk</string>
				<string>bullet</string>
				<string>quotedblleft</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>periodcentered</string>
				<string>exclamdown</string>
				<string>questiondown</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>degree</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>at</string>
				<string>mu</string>
				<string>dollar</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>Oslash</string>
				<string>oslash</string>
				<string>slash</string>
				<string>backslash</string>
				<string>dotlessi</string>
				<string>eth</string>
				<string>OE</string>
				<string>hbar</string>
				<string>ae</string>
				<string>AE</string>
				<string>oe</string>
				<string>cedilla</string>
				<string>lslash</string>
				<string>tilde</string>
				<string>acute</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>circumflex</string>
				<string>asciitilde</string>
				<string>multiply</string>
				<string>equal</string>
				<string>hyphen</string>
				<string>logicalnot</string>
				<string>percent</string>
				<string>plus</string>
				<string>less</string>
				<string>greater</string>
				<string>divide</string>
				<string>plusminus</string>
				<string>commaaccent</string>
				<string>ring</string>
				<string>grave</string>
				<string>atilde</string>
				<string>cent</string>
				<string>ldot</string>
				<string>udieresis</string>
				<string>caron</string>
				<string>currency</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>endash</string>
				<string>emdash</string>
				<string>uni00AD</string>
				<string>section</string>
				<string>underscore</string>
				<string>asciicircum</string>
				<string>grave.cap</string>
				<string>acute.cap</string>
				<string>circumflex.cap</string>
				<string>dieresis.cap</string>
				<string>caron.cap</string>
				<string>ring.cap</string>
				<string>tilde.cap</string>
				<string>Aring</string>
				<string>Ccedilla</string>
				<string>Ydieresis</string>
				<string>ij</string>
				<string>Eth</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>itilde</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>nacute</string>
				<string>ntilde</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Nacute</string>
				<string>Ntilde</string>
				<string>Itilde</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Jcircumflex</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Rcaron</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Racute</string>
				<string>Yacute</string>
				<string>ccedilla</string>
				<string>Rcommaaccent</string>
				<string>dotlessj</string>
				<string>IJ</string>
				<string>uni0001</string>
				<string>uni0002</string>
				<string>uni0003</string>
				<string>uni0004</string>
				<string>uni0005</string>
				<string>uni0006</string>
				<string>uni0007</string>
				<string>uni0008</string>
				<string>uni0009</string>
				<string>uni0010</string>
				<string>uni0011</string>
				<string>uni0012</string>
				<string>uni0013</string>
				<string>uni0014</string>
				<string>uni0015</string>
				<string>uni0016</string>
				<string>uni0017</string>
				<string>uni0018</string>
				<string>uni0019</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>rcaron</string>
				<string>jcircumflex</string>
				<string>a</string>
				<string>.null</string>
				<string>CR</string>
				<string>nbspace</string>
				<string>dagger</string>
				<string>lozenge</string>
				<string>fraction</string>
				<string>perthousand</string>
				<string>trademark</string>
				<string>daggerdbl</string>
				<string>apple</string>
				<string>fl</string>
				<string>fi</string>
				<string>Lslash</string>
				<string>Ldot</string>
				<string>Scaron</string>
				<string>Scircumflex</string>
				<string>Sacute</string>
				<string>Scedilla</string>
				<string>Scommaaccent</string>
				<string>Kcommaaccent</string>
				<string>Lcommaaccent</string>
				<string>Ncaron</string>
				<string>Ncommaaccent</string>
				<string>macron.cap</string>
				<string>Omacron</string>
				<string>Uring</string>
				<string>Umacron</string>
				<string>Utilde</string>
				<string>Tcaron</string>
				<string>dotaccent.cap</string>
				<string>dotaccent</string>
				<string>omacron</string>
				<string>ncaron</string>
				<string>uni1E61</string>
				<string>uni1E57</string>
				<string>zdotaccent</string>
				<string>zcaron</string>
				<string>zacute</string>
				<string>Dcroat</string>
				<string>AEacute</string>
				<string>Amacron</string>
				<string>Cacute</string>
				<string>Ccircumflex</string>
				<string>Ccaron</string>
				<string>Cdotaccent</string>
				<string>Dcaron</string>
				<string>Ecaron</string>
				<string>Emacron</string>
				<string>Edotaccent</string>
				<string>Gcircumflex</string>
				<string>Gcommaaccent</string>
				<string>Gdotaccent</string>
				<string>Hcircumflex</string>
				<string>Imacron</string>
				<string>Idotaccent</string>
				<string>Tcommaaccent</string>
				<string>Wgrave</string>
				<string>Wacute</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Ygrave</string>
				<string>Ycircumflex</string>
				<string>Zacute</string>
				<string>Zcaron</string>
				<string>Zdotaccent</string>
				<string>ff</string>
				<string>uni1E60</string>
				<string>uni1E56</string>
				<string>uni1E40</string>
				<string>uni1E0A</string>
				<string>uni1E02</string>
				<string>uni1E6A</string>
				<string>wdieresis</string>
				<string>wgrave</string>
				<string>wacute</string>
				<string>wcircumflex</string>
				<string>utilde</string>
				<string>umacron</string>
				<string>uring</string>
				<string>dcroat</string>
				<string>hungarumlaut</string>
				<string>hungarumlaut.cap</string>
				<string>Ohungarumlaut</string>
				<string>Uhungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>gcircumflex</string>
				<string>gdotaccent</string>
				<string>gcommaaccent</string>
				<string>imacron</string>
				<string>ygrave</string>
				<string>ycircumflex</string>
				<string>scommaaccent</string>
				<string>scedilla</string>
				<string>sacute</string>
				<string>scircumflex</string>
				<string>scaron</string>
				<string>racute</string>
				<string>ncommaaccent</string>
				<string>Hbar</string>
				<string>amacron</string>
				<string>cacute</string>
				<string>ccircumflex</string>
				<string>ccaron</string>
				<string>cdotaccent</string>
				<string>aeacute</string>
				<string>ecaron</string>
				<string>emacron</string>
				<string>edotaccent</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>integral</string>
				<string>hcircumflex</string>
				<string>uni1E41</string>
				<string>uni1E1E</string>
				<string>uni1E0B</string>
				<string>uni1E03</string>
				<string>approxequal</string>
				<string>product</string>
				<string>minus</string>
				<string>uni1E1F</string>
				<string>uni1E6B</string>
				<string>lcommaaccent</string>
				<string>Delta</string>
				<string>ogonek</string>
				<string>eogonek</string>
				<string>aogonek</string>
				<string>Aogonek</string>
				<string>Eogonek</string>
				<string>iogonek</string>
				<string>Iogonek</string>
				<string>uogonek</string>
				<string>Uogonek</string>
				<string>notequal</string>
				<string>tcommaaccent</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>breve</string>
				<string>abreve</string>
				<string>ebreve</string>
				<string>ubreve</string>
				<string>ibreve</string>
				<string>gbreve</string>
				<string>obreve</string>
				<string>breve.cap</string>
				<string>Ebreve</string>
				<string>Gbreve</string>
				<string>Ubreve</string>
				<string>Obreve</string>
				<string>Ibreve</string>
				<string>Eng</string>
				<string>eng</string>
				<string>Abreve</string>
				<string>dcaron</string>
				<string>caronvertical</string>
				<string>lcaron</string>
				<string>Lcaron</string>
				<string>tcaron</string>
				<string>partialdiff</string>
				<string>tbar</string>
				<string>Tbar</string>
				<string>radical</string>
				<string>florin</string>
				<string>infinity</string>
				<string>Omega</string>
				<string>pi</string>
				<string>summation</string>
				<string>ellipsis</string>
				<string>kcommaaccent</string>
				<string>rcommaaccent</string>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>TTFStems</string>
			<key>value</key>
			<array>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 177</string>
					<key>width</key>
					<real>177.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 333</string>
					<key>width</key>
					<real>333.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 442</string>
					<key>width</key>
					<real>442.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 1151</string>
					<key>width</key>
					<real>1151.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 1283</string>
					<key>width</key>
					<real>1283.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 186</string>
					<key>width</key>
					<real>186.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 239</string>
					<key>width</key>
					<real>239.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 265</string>
					<key>width</key>
					<real>265.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 309</string>
					<key>width</key>
					<real>309.0</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>h</string>
		<string>k</string>
		<string>n</string>
		<string>o</string>
		<string>q</string>
		<string>p</string>
		<string>r</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>y</string>
		<string>f</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>m</string>
		<string>s</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>J</string>
		<string>M</string>
		<string>O</string>
		<string>R</string>
		<string>S</string>
		<string>Q</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>N</string>
		<string>P</string>
		<string>T</string>
		<string>Z</string>
		<string>five</string>
		<string>six</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>I</string>
		<string>seven</string>
		<string>question</string>
		<string>exclam</string>
		<string>space</string>
		<string>one</string>
		<string>quotedblright</string>
		<string>comma</string>
		<string>period</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>copyright</string>
		<string>registered</string>
		<string>germandbls</string>
		<string>sterling</string>
		<string>Euro</string>
		<string>yen</string>
		<string>paragraph</string>
		<string>kgreenlandic</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>asterisk</string>
		<string>bullet</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>periodcentered</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>degree</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>at</string>
		<string>mu</string>
		<string>dollar</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>Oslash</string>
		<string>oslash</string>
		<string>slash</string>
		<string>backslash</string>
		<string>dotlessi</string>
		<string>eth</string>
		<string>OE</string>
		<string>hbar</string>
		<string>ae</string>
		<string>AE</string>
		<string>oe</string>
		<string>cedilla</string>
		<string>lslash</string>
		<string>tilde</string>
		<string>acute</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>circumflex</string>
		<string>asciitilde</string>
		<string>multiply</string>
		<string>equal</string>
		<string>hyphen</string>
		<string>logicalnot</string>
		<string>percent</string>
		<string>plus</string>
		<string>less</string>
		<string>greater</string>
		<string>divide</string>
		<string>plusminus</string>
		<string>commaaccent</string>
		<string>ring</string>
		<string>grave</string>
		<string>atilde</string>
		<string>cent</string>
		<string>ldot</string>
		<string>udieresis</string>
		<string>caron</string>
		<string>currency</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
		<string>section</string>
		<string>underscore</string>
		<string>asciicircum</string>
		<string>grave.cap</string>
		<string>acute.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>caron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>Aring</string>
		<string>Ccedilla</string>
		<string>Ydieresis</string>
		<string>ij</string>
		<string>Eth</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>itilde</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Jcircumflex</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Rcaron</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Racute</string>
		<string>Yacute</string>
		<string>ccedilla</string>
		<string>Rcommaaccent</string>
		<string>dotlessj</string>
		<string>IJ</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0003</string>
		<string>uni0004</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0009</string>
		<string>uni0010</string>
		<string>uni0011</string>
		<string>uni0012</string>
		<string>uni0013</string>
		<string>uni0014</string>
		<string>uni0015</string>
		<string>uni0016</string>
		<string>uni0017</string>
		<string>uni0018</string>
		<string>uni0019</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>rcaron</string>
		<string>jcircumflex</string>
		<string>a</string>
		<string>.null</string>
		<string>CR</string>
		<string>nbspace</string>
		<string>dagger</string>
		<string>lozenge</string>
		<string>fraction</string>
		<string>perthousand</string>
		<string>trademark</string>
		<string>daggerdbl</string>
		<string>apple</string>
		<string>fl</string>
		<string>fi</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>macron.cap</string>
		<string>Omacron</string>
		<string>Uring</string>
		<string>Umacron</string>
		<string>Utilde</string>
		<string>Tcaron</string>
		<string>dotaccent.cap</string>
		<string>dotaccent</string>
		<string>omacron</string>
		<string>ncaron</string>
		<string>uni1E61</string>
		<string>uni1E57</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>Dcroat</string>
		<string>AEacute</string>
		<string>Amacron</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hcircumflex</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Tcommaaccent</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Ygrave</string>
		<string>Ycircumflex</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>ff</string>
		<string>uni1E60</string>
		<string>uni1E56</string>
		<string>uni1E40</string>
		<string>uni1E0A</string>
		<string>uni1E02</string>
		<string>uni1E6A</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uring</string>
		<string>dcroat</string>
		<string>hungarumlaut</string>
		<string>hungarumlaut.cap</string>
		<string>Ohungarumlaut</string>
		<string>Uhungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>imacron</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>racute</string>
		<string>ncommaaccent</string>
		<string>Hbar</string>
		<string>amacron</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>aeacute</string>
		<string>ecaron</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>integral</string>
		<string>hcircumflex</string>
		<string>uni1E41</string>
		<string>uni1E1E</string>
		<string>uni1E0B</string>
		<string>uni1E03</string>
		<string>approxequal</string>
		<string>product</string>
		<string>minus</string>
		<string>uni1E1F</string>
		<string>uni1E6B</string>
		<string>lcommaaccent</string>
		<string>Delta</string>
		<string>ogonek</string>
		<string>eogonek</string>
		<string>aogonek</string>
		<string>Aogonek</string>
		<string>Eogonek</string>
		<string>iogonek</string>
		<string>Iogonek</string>
		<string>uogonek</string>
		<string>Uogonek</string>
		<string>notequal</string>
		<string>tcommaaccent</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>breve</string>
		<string>abreve</string>
		<string>ebreve</string>
		<string>ubreve</string>
		<string>ibreve</string>
		<string>gbreve</string>
		<string>obreve</string>
		<string>breve.cap</string>
		<string>Ebreve</string>
		<string>Gbreve</string>
		<string>Ubreve</string>
		<string>Obreve</string>
		<string>Ibreve</string>
		<string>Eng</string>
		<string>eng</string>
		<string>Abreve</string>
		<string>dcaron</string>
		<string>caronvertical</string>
		<string>lcaron</string>
		<string>Lcaron</string>
		<string>tcaron</string>
		<string>partialdiff</string>
		<string>tbar</string>
		<string>Tbar</string>
		<string>radical</string>
		<string>florin</string>
		<string>infinity</string>
		<string>Omega</string>
		<string>pi</string>
		<string>summation</string>
		<string>ellipsis</string>
		<string>kcommaaccent</string>
		<string>rcommaaccent</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>-35.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>399.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>600.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>629.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>675.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>842.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>3028.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>282.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>6144.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1223.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1697.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1639.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1678.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>1115.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>805.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>1666.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>338.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>1246.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>356.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>h</string>
		<string>k</string>
		<string>n</string>
		<string>o</string>
		<string>q</string>
		<string>p</string>
		<string>r</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>y</string>
		<string>f</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>m</string>
		<string>s</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>J</string>
		<string>M</string>
		<string>O</string>
		<string>R</string>
		<string>S</string>
		<string>Q</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>N</string>
		<string>P</string>
		<string>T</string>
		<string>Z</string>
		<string>five</string>
		<string>six</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>I</string>
		<string>seven</string>
		<string>question</string>
		<string>exclam</string>
		<string>space</string>
		<string>one</string>
		<string>quotedblright</string>
		<string>comma</string>
		<string>period</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>copyright</string>
		<string>registered</string>
		<string>germandbls</string>
		<string>sterling</string>
		<string>Euro</string>
		<string>yen</string>
		<string>paragraph</string>
		<string>kgreenlandic</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>asterisk</string>
		<string>bullet</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>periodcentered</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>degree</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>at</string>
		<string>mu</string>
		<string>dollar</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>Oslash</string>
		<string>oslash</string>
		<string>slash</string>
		<string>backslash</string>
		<string>dotlessi</string>
		<string>eth</string>
		<string>OE</string>
		<string>hbar</string>
		<string>ae</string>
		<string>AE</string>
		<string>oe</string>
		<string>cedilla</string>
		<string>lslash</string>
		<string>tilde</string>
		<string>acute</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>circumflex</string>
		<string>asciitilde</string>
		<string>multiply</string>
		<string>equal</string>
		<string>hyphen</string>
		<string>logicalnot</string>
		<string>percent</string>
		<string>plus</string>
		<string>less</string>
		<string>greater</string>
		<string>divide</string>
		<string>plusminus</string>
		<string>commaaccent</string>
		<string>ring</string>
		<string>grave</string>
		<string>atilde</string>
		<string>cent</string>
		<string>ldot</string>
		<string>udieresis</string>
		<string>caron</string>
		<string>currency</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
		<string>section</string>
		<string>underscore</string>
		<string>asciicircum</string>
		<string>grave.cap</string>
		<string>acute.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>caron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>Aring</string>
		<string>Ccedilla</string>
		<string>Ydieresis</string>
		<string>ij</string>
		<string>Eth</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>itilde</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>nacute</string>
		<string>ntilde</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Itilde</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Jcircumflex</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Rcaron</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Racute</string>
		<string>Yacute</string>
		<string>ccedilla</string>
		<string>Rcommaaccent</string>
		<string>dotlessj</string>
		<string>IJ</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0003</string>
		<string>uni0004</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0009</string>
		<string>uni0010</string>
		<string>uni0011</string>
		<string>uni0012</string>
		<string>uni0013</string>
		<string>uni0014</string>
		<string>uni0015</string>
		<string>uni0016</string>
		<string>uni0017</string>
		<string>uni0018</string>
		<string>uni0019</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>rcaron</string>
		<string>jcircumflex</string>
		<string>a</string>
		<string>.null</string>
		<string>CR</string>
		<string>nbspace</string>
		<string>dagger</string>
		<string>lozenge</string>
		<string>fraction</string>
		<string>perthousand</string>
		<string>trademark</string>
		<string>daggerdbl</string>
		<string>apple</string>
		<string>fl</string>
		<string>fi</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>macron.cap</string>
		<string>Omacron</string>
		<string>Uring</string>
		<string>Umacron</string>
		<string>Utilde</string>
		<string>Tcaron</string>
		<string>dotaccent.cap</string>
		<string>dotaccent</string>
		<string>omacron</string>
		<string>ncaron</string>
		<string>uni1E61</string>
		<string>uni1E57</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>Dcroat</string>
		<string>AEacute</string>
		<string>Amacron</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hcircumflex</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Tcommaaccent</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Ygrave</string>
		<string>Ycircumflex</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>ff</string>
		<string>uni1E60</string>
		<string>uni1E56</string>
		<string>uni1E40</string>
		<string>uni1E0A</string>
		<string>uni1E02</string>
		<string>uni1E6A</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uring</string>
		<string>dcroat</string>
		<string>hungarumlaut</string>
		<string>hungarumlaut.cap</string>
		<string>Ohungarumlaut</string>
		<string>Uhungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>imacron</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>racute</string>
		<string>ncommaaccent</string>
		<string>Hbar</string>
		<string>amacron</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>aeacute</string>
		<string>ecaron</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>integral</string>
		<string>hcircumflex</string>
		<string>uni1E41</string>
		<string>uni1E1E</string>
		<string>uni1E0B</string>
		<string>uni1E03</string>
		<string>approxequal</string>
		<string>product</string>
		<string>minus</string>
		<string>uni1E1F</string>
		<string>uni1E6B</string>
		<string>lcommaaccent</string>
		<string>Delta</string>
		<string>ogonek</string>
		<string>eogonek</string>
		<string>aogonek</string>
		<string>Aogonek</string>
		<string>Eogonek</string>
		<string>iogonek</string>
		<string>Iogonek</string>
		<string>uogonek</string>
		<string>Uogonek</string>
		<string>notequal</string>
		<string>tcommaaccent</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>breve</string>
		<string>abreve</string>
		<string>ebreve</string>
		<string>ubreve</string>
		<string>ibreve</string>
		<string>gbreve</string>
		<string>obreve</string>
		<string>breve.cap</string>
		<string>Ebreve</string>
		<string>Gbreve</string>
		<string>Ubreve</string>
		<string>Obreve</string>
		<string>Ibreve</string>
		<string>Eng</string>
		<string>eng</string>
		<string>Abreve</string>
		<string>dcaron</string>
		<string>caronvertical</string>
		<string>lcaron</string>
		<string>Lcaron</string>
		<string>tcaron</string>
		<string>partialdiff</string>
		<string>tbar</string>
		<string>Tbar</string>
		<string>radical</string>
		<string>florin</string>
		<string>infinity</string>
		<string>Omega</string>
		<string>pi</string>
		<string>summation</string>
		<string>ellipsis</string>
		<string>kcommaaccent</string>
		<string>rcommaaccent</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Delta</key>
		<string>uni0394</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>Omega</key>
		<string>uni2126</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Tcommaaccent</key>
		<string>uni0162</string>
		<key>apple</key>
		<string>uniF8FF</string>
		<key>commaaccent</key>
		<string>uni0326</string>
		<key>dotlessj</key>
		<string>uni0237</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>mu</key>
		<string>uni00B5</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>tcommaaccent</key>
		<string>uni0163</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
	</dict>
</dict>
</plist>
